@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: "Varela Round", serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
